.topbar {
  height: 50px;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topRight{
display: flex;
align-items: center;
}

.topbarIconContainer{
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    color:#555
}

.topIconBadge{
    position: absolute;
    top:-5px;
    right:0px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;

}

.topAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}